@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "关于";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>你的应用程序说明页。</h2>
</hgroup>

<article>
    <p>
        使用此区域可提供附加信息。
    </p>

    <p>
        使用此区域可提供附加信息。
    </p>

    <p>
        使用此区域可提供附加信息。
    </p>
</article>

<aside>
    <h3>副标题</h3>
    <p>
        使用此区域可提供附加信息。
    </p>
    <ul>
        <li><a href="~/">主页</a></li>
        <li><a href="~/About">关于</a></li>
        <li><a href="~/Contact">联系方式</a></li>
    </ul>
</aside>