@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "主页";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>修改此模板以快速启动你的 ASP.NET Web Pages 应用程序。</h2>
        </hgroup>
        <p>
            若要了解有关 ASP.NET Web Pages 的详细信息，请访问
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>。
            该页提供 <mark>视频、教程和示例</mark> 以帮助你充分利用 ASP.NET Web Pages。
            如果你对 ASP.NET Web Pages 有任何疑问，请访问
            <a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages Forum">我们的论坛</a>。
        </p>
    </div>
</section>
}

<h3>下面是我们的建议:</h3>

<ol class="round">
    <li class="one">
        <h5>开始使用</h5>
        ASP.NET Web Pages 和新的 Razor 语法提供了一种便捷、友好的轻型方式，用于将服务器代码与 HTML 结合
        以创建动态 Web 内容。可用于连接到数据库、添加视频、链接到社交网络站点，
        并包括许多用于使用最新 Web 标准创建美丽站点的功能。
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">了解详细信息...</a>
    </li>

    <li class="two">
        <h5>添加 NuGet 程序包并快速开始编码</h5>
        通过 NuGet，可以轻松地安装和更新免费的库和工具。
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">了解详细信息...</a>
    </li>

    <li class="three">
        <h5>查找 Web 宿主</h5>
        你可以轻松找到所提供的功能和价格都适合你应用程序的 Web 宿主公司。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245143">了解详细信息...</a>
    </li>
</ol>